In [3]:
import numpy as np
import pickle
#import matentitiesplotlib.pyplot as plt

In [ ]:
map_size = 80

In [ ]:
memfield_forge = np.ones([3,3])*0.01
memfield_forge

In [ ]:
#memfield_enemy = np.zeros([1,1])
#memfield_enemy = np.zeros([map_size,map_size])
memfield_enemy = np.zeros([3,3])
memfield_enemy

In [ ]:
len(memfield_enemy)

In [ ]:
memfield_enemy[0,2]+=1
memfield_enemy

In [ ]:
memfield_enemy.max()

In [ ]:
memfield_enemy = np.where(memfield_enemy > 0, memfield_enemy-1, memfield_enemy)
memfield_enemy

In [ ]:
memfield_enemy

In [ ]:
memfield_enemy-=memfield_enemy
memfield_enemy=np.absolute(memfield_enemy)
memfield_enemy

In [ ]:
city = [
    [11, 5, 'house'],
    [11, 9, 'house'],
    [11, 13, 'turret'],
]

In [ ]:
np.array(city)

In [5]:
memfield_enemy = pickle.load(open("memfield_enemy2.dat", "rb"))
#plt.imshow(memfield_enemy, cmap='hot', interpolation='nearest')
#plt.rcParams["figure.figsize"] = (30,30)
#plt.show()

In [6]:
from sklearn.cluster import KMeans

In [7]:
kmeans = KMeans(n_clusters=3, random_state=0).fit(memfield_enemy)

In [8]:
predicted_kmeans = kmeans.predict(memfield_enemy)

In [12]:
kmeans.cluster_centers_.astype(int)

array([[  0,   0,   0,   2,   1,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   2,   3,   2,   1,
          3,   4,   8,  10,  11,  11,   7,   2,   5,   3,   4,   3,   3,
          3,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,  50,  49,  48,  96,  45,   0,   0, 246, 539,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0, 308, 137,  12,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0]])

In [9]:
predicted_kmeans

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [80]:
centroids = kmeans.cluster_centers_
#print(centroids)

In [87]:
np.shape(memfield_enemy)

(80, 80)

In [88]:
type(memfield_enemy)

numpy.ndarray

In [90]:
x,y = np.nonzero(memfield_enemy)

In [81]:
from pandas import DataFrame

In [114]:
df = DataFrame({'x':x,'y':y},columns=['x','y'])  
kmeans = KMeans(n_clusters=3).fit(df)
centroids = kmeans.cluster_centers_.astype(int)
print(centroids)

#plt.scatter(df['x'], df['y'], c= kmeans.labels_.astype(float), s=50, alpha=0.5)
#plt.scatter(centroids[:, 0], centroids[:, 1], c='red', s=50)
#plt.show()

[[21 28]
 [37  3]
 [ 6 33]]

In [112]:
centroids.astype(int)

array([[21, 28],
       [ 6, 33],
       [37,  3]])

In [116]:
kmeans.inertia_

1569.2046387520527

In [ ]:
plt.imshow(memfield_enemy, cmap='hot', interpolation='nearest')
plt.rcParams["figure.figsize"] = (30,30)
plt.show()

In [2]:
import pandas as pd

In [126]:
for c in centroids.astype(int):
    print(c)

[21 28]
[37  3]
[ 6 33]

In [147]:
defence_points = pd.DataFrame(columns=['x','y'])
defence_points

Empty DataFrame
Columns: [x, y]
Index: []

In [148]:
defenders = pd.DataFrame(columns=['point','entity_type','entity_id'])
defenders

Empty DataFrame
Columns: [point, entity_type, entity_id]
Index: []

In [157]:
defence_zones = pd.DataFrame(centroids.astype(int), columns = ['x','y'])
defence_zones

    x   y
0  21  28
1  37   3
2   6  33

In [173]:
x,y = defence_zones.iloc()[1]
x,y

(37, 3)

In [182]:
nearest_entity(x, y,'meele')

37 3 meele

In [178]:
def nearest_entity(x,y,etype):

In [270]:
        #x, y = defence_zones.iloc()[zone]
        #new_defender = nearest_entity(x, y, etype)
        #self.defence_team.loc[len(self.defence_team)] = [zone, etype, new_defender.id]
        # get nearest entities

In [280]:
def add_defender(self, zone, etype, my_id):
    # check, is defenders enought
    mask = (self.defence_team['zone'] == zone) & (self.defence_team['entity_type'] == etype)
    empty_cells = self.defender_per_zone[etype] - len(self.defence_team[mask])
    if empty_cells > 1:
        # select all my special type entities
        mask = (self.entities['player_id'] == my_id) & (self.entities['entity_type'] == etype)
        distance = pd.DataFrame(self.entities[mask])
        # calculate distance to zones
        i = 0
        for zone_x in defence_zones.x:
            distance['x'+str(i)]=distance.x-np.array(defence_zones.x)[i]
            i += 1
        i = 0
        for zone_y in defence_zones.y:
            distance['y'+str(i)]=distance.y-np.array(defence_zones.y)[i]
            i += 1
        for i in range(0,len(defence_zones)):
            distance[i]=np.hypot(distance['x'+str(i)], distance['y'+str(i)])
        distance.sort_values(
            [i for i in range(0,len(self.defence_zones))],
            ascending=[True for i in range(0,len(self.defence_zones))],
            inplace = True
        )
        # prepare defence team
        exists = self.defence_team.entity_id.values
        available = distance.entity_id.values
        #defence_team = self.defence_team.values        
        newbies = []
        # add defenders
        cell = 0
        ent_id = 0
        while cell < empty_cells and ent_id < len(available):
            if new_entities[ent_id] in exists:
                ent_id += 1
            else:
                newbies.append([zone, etype, new_entities[ent_id]])
                ent_id += 1
                cell += 1
        if len(newbies) > 0:
            pd.DataFrame(newbies, columns = ['zone', 'entity_type', 'entity_id'])
            self.defence_team = pd.concat(
                [self.defence_team,
                 pd.DataFrame(
                     newbies,
                     columns = ['zone', 'entity_type', 'entity_id']
                 )],
                axis=0)

SyntaxError: invalid syntax (<ipython-input-280-25c57e25b963>, line 32)

In [23]:
defence_team = pd.DataFrame(columns=['zone', 'entity_type', 'entity_id'])

In [24]:
newbies = []

In [25]:
newbies.append([0, 'meele', 1])
newbies

[[0, 'meele', 1]]

In [26]:
defence_team = pd.concat([defence_team,pd.DataFrame(newbies, columns = ['zone', 'entity_type', 'entity_id'])], axis=0)
defence_team

  zone entity_type entity_id
0    0       meele         1

In [27]:
defence_team

  zone entity_type entity_id
0    0       meele         1

In [28]:
defence_zones = pd.DataFrame({'x':[30],'y':[30]}, columns=['x', 'y'])
defence_zones

    x   y
0  30  30

In [29]:
1 in defence_team.entity_id.values

True

In [31]:
zone = defence_team[defence_team.entity_id == 1].zone
zone

0    0
Name: zone, dtype: object

In [36]:
int(defence_zones.iloc()[zone].x)

30

In [175]:
#defence_team.loc[len(defence_team)] = [0, 'meele', 4]

In [176]:
defence_team

  zone entity_type entity_id
0    0       meele         4

In [7]:
defence_team = pd.DataFrame(columns=['zone', 'entity_type', 'entity_id'])
i = 0
for zone in defence_zones.values:
    print(i, zone)
    self.add_defender(i, et.MELEE_UNIT)
    self.add_defender(i, et.RANGED_UNIT)
    #mask = (defence_team['zone'] == 0) & (defence_team['entity_type'] == et.MELEE_UNIT)
    #if len(defence_team[mask]) < self.defender_per_zone_melee:
    #add_defender(i, et.MELEE_UNIT, len(defence_team[mask]))
    
    #mask = (defence_team['zone'] == 0) & (defence_team['entity_type'] == et.MEELE)
    #add_defender(i, et.MEELE, len(defence_team[mask]))
    #if len(defence_team[mask]) < self.defender_per_zone_melee:
    #    add_defender(i)
    i+=1

NameError: name 'defence_zones' is not defined

Empty DataFrame
Columns: [zone, entity_type, entity_id]
Index: []

In [151]:
#c.sort_values(['x', 'y'], ascending = [True, True], inplace = True)
#c

In [152]:
#df['x']=c['x']
#df['y']=c['y']

In [184]:
entities = pd.DataFrame(columns=[
			'player_id',
			'entity_id',
			'entity_type',
			'x',
			'y'
		])

In [191]:
entity_storage = []

In [192]:
entity_storage.append([1,2,'k',3,4])
entity_storage.append([2,3,'c',4,5])
entity_storage.append([3,4,'a',5,6])

In [194]:
entities = pd.DataFrame(entity_storage,columns=[
			'player_id',
			'entity_id',
			'entity_type',
			'x',
			'y'
		])

In [195]:
entities

   player_id  entity_id entity_type  x  y
0          1          2           k  3  4
1          2          3           c  4  5
2          3          4           a  5  6

In [199]:
WALL = 0
HOUSE = 1
BUILDER_BASE = 2
BUILDER_UNIT = 3
MELEE_BASE = 4
MELEE_UNIT = 5
RANGED_BASE = 6
RANGED_UNIT = 7
RESOURCE = 8
TURRET = 9

In [202]:
entities = pickle.load(open("entities_1.dat", "rb"))

In [ ]:
#np.hypot(3, 4)

In [203]:
my_id = 1
mask = (entities['player_id'] == my_id) & (entities['entity_type'] == 5)
entities[mask]

      player_id  entity_id  entity_type   x   y
102         1.0       3146            5  11  20
176         1.0       2051            5   6  59
201         1.0       3168            5  10  19
288         1.0       3119            5  12  21
1048        1.0       3088            5  14  21

In [263]:
#distance = entities[mask]
#df[['a', 'b']]
#distance = [distance.x,distance.y]
#distance = entities[mask][['x', 'y']]
distance = pd.DataFrame(entities[mask])

In [264]:
np.array(defence_zones.x)

array([21, 37,  6])

In [265]:
defence_zones.values

array([[21, 28],
       [37,  3],
       [ 6, 33]])

In [266]:
for zone_x in defence_zones.x:
    print(zone)
    #print(zone.x,zone.y)

6
6
6

In [267]:
i = 0
for zone_x in defence_zones.x:
    distance['x'+str(i)]=distance.x-np.array(defence_zones.x)[i]
    i += 1
i = 0
for zone_y in defence_zones.y:
    distance['y'+str(i)]=distance.y-np.array(defence_zones.y)[i]
    i += 1

In [268]:
for i in range(0,len(defence_zones)):
    distance[i]=np.hypot(distance['x'+str(i)], distance['y'+str(i)])

In [271]:
distance

,player_id,entity_id,entity_type,x,y,x0,x1,x2,y0,y1,y2,0,1,2
102,1.0,3146,5,11,20,-10,-26,5,-8,17,-13,12.806248,31.064449,13.928388
176,1.0,2051,5,6,59,-15,-31,0,31,56,26,34.438351,64.007812,26.000000
201,1.0,3168,5,10,19,-11,-27,4,-9,16,-14,14.212670,31.384710,14.560220
288,1.0,3119,5,12,21,-9,-25,6,-7,18,-12,11.401754,30.805844,13.416408
1048,1.0,3088,5,14,21,-7,-23,8,-7,18,-12,9.899495,29.206164,14.422205

In [272]:
distance.sort_values(
            [i for i in range(0,len(defence_zones))],
            ascending=[True for i in range(0,len(defence_zones))],
            inplace = True
        )
distance

,player_id,entity_id,entity_type,x,y,x0,x1,x2,y0,y1,y2,0,1,2
1048,1.0,3088,5,14,21,-7,-23,8,-7,18,-12,9.899495,29.206164,14.422205
288,1.0,3119,5,12,21,-9,-25,6,-7,18,-12,11.401754,30.805844,13.416408
102,1.0,3146,5,11,20,-10,-26,5,-8,17,-13,12.806248,31.064449,13.928388
201,1.0,3168,5,10,19,-11,-27,4,-9,16,-14,14.212670,31.384710,14.560220
176,1.0,2051,5,6,59,-15,-31,0,31,56,26,34.438351,64.007812,26.000000

In [40]:
from numba import njit

In [41]:
@njit
def entity_storage_to_df(entity_storage):
    return pd.DataFrame(entity_storage, columns=[
        'player_id',
        'entity_id',
        'entity_type',
        'x',
        'y'
    ])

In [38]:
entity_storage = []
entity_storage.append([1,2,'k',3,4])
entity_storage.append([2,3,'c',4,5])
entity_storage.append([3,4,'a',5,6])

In [42]:
entity_storage_to_df(entity_storage)

TypingError: Failed in nopython mode pipeline (step: nopython frontend)
Unknown attribute 'DataFrame' of type Module(<module 'pandas' from '/home/alex/.local/lib/python3.7/site-packages/pandas/__init__.py'>)

File "<ipython-input-41-e859793f69e8>", line 3:
def entity_storage_to_df(entity_storage):
    return pd.DataFrame(entity_storage, columns=[
    ^

[1] During: typing of get attribute at <ipython-input-41-e859793f69e8> (3)

File "<ipython-input-41-e859793f69e8>", line 3:
def entity_storage_to_df(entity_storage):
    return pd.DataFrame(entity_storage, columns=[
    ^

## Action

In [93]:
from model.entity_type import EntityType as et
import model

In [44]:
entities = pd.DataFrame(columns=[
    'player_id',
    'entity_id',
    'entity_type',
    'x',
    'y'
])
entities

Empty DataFrame
Columns: [player_id, entity_id, entity_type, x, y]
Index: []

In [58]:
entities = pickle.load(open("entities_1.dat", "rb"))

In [128]:
tasks = pd.DataFrame(columns = [
            'entity_id',
            'entity_type',
            'task'
        ])

In [76]:
pd.DataFrame(['reclaim' for _ in range(0,new_entity_count)],columns = ['task'])

      task
0  reclaim
1  reclaim

In [129]:
tasks

Empty DataFrame
Columns: [entity_id, entity_type, task]
Index: []

In [103]:
actions = {}
# builders
builders = pd.DataFrame(entities[entities['entity_type'] == et.BUILDER_UNIT]['entity_id'], columns = ['entity_id'])
free_builders = builders[~builders.entity_id.isin(tasks.entity_id)]
free_builders = pd.DataFrame(free_builders.head(1)) # DEBUG
#new_entity_count = len(free_builders)
free_builders['task'] = 'reclaim'
tasks = pd.concat([tasks,free_builders], axis=0)
# make action
m, b, a, r = None, None, None, None
target = model.vec2_int.Vec2Int(0, 0)
m = model.move_action.MoveAction(target, True, True)
a = model.attack_action.AttackAction(
                target=None,
                auto_attack=model.auto_attack.AutoAttack(
                    pathfind_range=100,
                    valid_targets=[et.RESOURCE]
                )
            )
for entity_id in free_builders['entity_id']:
    actions[entity_id] = model.EntityAction(m, b, a, r)
actions
#free_builders
#tasks
#builders

{1628: EntityAction(MoveAction(Vec2Int(0,0),True,True),None,AttackAction(None,AutoAttack(100,[<EntityType.RESOURCE: 8>])),None)}

In [106]:
player_view_my_id = 1

In [ ]:
WALL = 0
HOUSE = 1
BUILDER_BASE = 2
BUILDER_UNIT = 3
MELEE_BASE = 4
MELEE_UNIT = 5
RANGED_BASE = 6
RANGED_UNIT = 7
RESOURCE = 8
TURRET = 9

In [127]:
tasks

   entity_id     task
0       1834  reclaim
26      1628  reclaim

In [131]:
#entities['enemy_buildings'][0].position.x
mask = (entities['player_id'] != 1)&(
    (entities['entity_type'] == et.MELEE_BASE)|
    (entities['entity_type'] == et.RANGED_BASE)|
    (entities['entity_type'] == et.TURRET)|
    (entities['entity_type'] == et.HOUSE)    
)        
selected_enemy = entities[mask].sort_values(['player_id'], ascending=False).head(1)
int(selected_enemy['x']),int(selected_enemy['y'])

(5, 60)

In [136]:
mask = (entities['player_id'] == 2)&(
        (entities['entity_type'] == et.MELEE_UNIT)|
        (entities['entity_type'] == et.RANGED_UNIT))
units = pd.DataFrame(entities[mask], columns=['entity_id', 'entity_type'])
units

      entity_id  entity_type
131        3161            5
403        3039            7
523        3018            7
534        2602            7
559        2184            5
1007       2452            5
1103       3171            7
1107       3019            5
1215       2997            5
1244       2999            7

In [151]:
for entity_id, entity_type in units.values:
    print(entity_id, entity_type)

3161 5
3039 7
3018 7
2602 7
2184 5
2452 5
3171 7
3019 5
2997 5
2999 7

In [4]:
properties = pickle.load(open("properties_1.dat", "rb"))

In [13]:
properties.initial_cost

AttributeError: 'EntityProperties' object has no attribute 'initial_cost'

In [12]:
properties.cost

50